/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,200&display=swap');


:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --color-grey: #eee;
    --color-dark-grey: #222831;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}


.container {
     margin: 0 auto;
    padding: 0 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    overflow: hidden;
    height: 100vh;

}

/* its better the img is a bg. Its more neat */
.container-white{
    background: linear-gradient(rgba(49, 49, 49, 0.5), rgba(0, 0, 0, 0.89)), url('/images/rachel-park-hrlvr2ZlUNk-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.image-header{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    filter: drop-shadow(0 0 8px #00000052);
    /* centres the image */
    display: flex;
    margin: 0 auto;
    z-index: 1;
}
img{
    width: 100%;
}

.h1{
    color: whitesmoke;
    text-shadow: 0 0 3px orangered, 0 0 3px orangered, 0 0 3px orangered, 0 0 3px orangered, 0 0 3px orangered;
    margin: 4rem 0;
    text-align: center;
    font-family: Pacifico, Shizuru, cursive;
    font-size: 4rem;
}
.h1-white{
    color: #fff;
    text-shadow: 0 0 3px #000;
    font-family: Pacifico, Shizuru, cursive;
    font-size: 5rem;
}

.btn-index {
    /* centers the btn */
    display: grid;
    justify-content: center;
    margin-bottom: 3rem;
    background-color: #000;
    color: #fff;
    padding: 1rem 0;
    border-radius: 25px;
    box-shadow: 0px 2px 7px #676776;
}

/* typography */
.btn-index {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bolder;
}
.btn-index:hover {
    background-color: #222831;
}
/* deleted code since img is bg now */

.btn-login__1{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.btn-login__1 > *{
    margin-top: 2rem;
    padding: 1rem 3.2rem;
    border-radius: 20px;
    border: none;
    font-size: 1.5rem;
}
.btn-login__2 > a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bolder;
}

button:disabled a {
    color: #ffffff;
    font-weight: 500;
}
button[disabled]{
  border: 1px solid #fff;
  background-color: transparent;
}
.login-container {
    display: grid;
    justify-content: center;
    height: 100vh;
}
.customer-pic{
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(39, 38, 38, 0.144);
    width: 45%;
    height: 180px;
    background-color: rgb(250, 250, 250);
    position: relative;
    top: 25%;
    /* centres the img */
    display: flex;
    margin: 0 auto;
   
}
.form-1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 2rem;
}
.text-field {
    padding: 1rem 3rem;
    margin-bottom: -1rem;
}
.text-field input{
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 1.5rem;
}

input:focus{
    outline: none;
    border-bottom: 3px solid rgba(39, 38, 38, 0.527);
}

label {
    font-size: 1.5rem;
    color:rgba(39, 38, 38, 0.527);
}
.sign-up-btn {
    border: none;
    outline: none;
    background-color: transparent;
}
.sign-up-btn a {
    border: 2px solid #FC8B0A;
    padding: 1rem 2rem;
    border-radius: 20px;
    outline: none;
}
/* typography */
.sign-up-btn > a{
    text-decoration: none;
    color: #FC8B0A;
    font-weight: bold;
    text-transform: uppercase;
}
.sign-up-btn a:hover {
    color: #000;
    border: 2px solid #000;
}

.okay-icon > img{
    height: 50px;
    margin-top: 2rem;
}
.payment-success{
   margin: 1rem 0 1rem 0; 
}
.payment-thanks{
    margin: 1rem 0 1rem 0;
}
.order-div{
    margin: 1rem;
    position: relative;
    right: 10px;
    margin: 1rem 0 3.5rem 0;
}
.order-num{
    font-weight: bolder;
    margin-left: 3rem;
}
.payment-last{
    text-align:center;
}
.payment-last__a{
    text-decoration: none;
    margin: 1rem 0;
    font-size: 1.2rem;
}

 .confirm-pay__btn{
   background: #FC8B0A; 
   padding: 0.8rem 1.5rem;
   border-radius: 7px;
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   margin-top: 3rem; 
   
}

.confirm-pay__btn > a{
    text-decoration: none;
    color: whitesmoke;
}

/* .pay-now-con{
    backdrop-filter: blur(5px)
} */

.body-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem 2rem 0.2rem 2rem;
    border: 1px solid #948f8f;
    border-radius: 10px;
    background: #c5c3c3;
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(10px);
    opacity: 1 !important;
    visibility: hidden;


}
.payment-con{
transition: transform 0.8s, top 0.7s;

}




/* Style the navigation menu */
.topnav {
    display: flex;
    overflow: hidden;
    background-color: #FC8B0A;
    /* relative takes up space avail in the content, absolute doesn't that's why when menu is active, the container doesn't move up/down */
    /* i feel its better menu is located on the right when active than the right or centred */
    position: absolute;
    right: 2%;
    top: 10%;
    background-color: #ffffff;
    padding: 0 16px;
    box-shadow: -10px 8px 12px rgba(48, 47, 47, 0.192);
    /* avoids img or content from overflowing/ overlapping on menu */
    z-index: 10;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: #000;
    margin: 1rem 0;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
   
  }
  
  /* Style the hamburger menu */
  /* hamburger icon too much on the right, allocated some space */
    /* instead of using absolute position, use fixed so that when menu is active, it doesn't change/move up and down position
    also used z-index so that content never flows ontop of icon */
  .topnav a.icon {
    display: block;
    position: fixed;
    top: 2%;
    right: 1%;
    z-index: 10;
  }
  
  /* Add a grey background color on mouse-over */
  /* since bg colour is white, item text is black for better eye contrast */
  .topnav a:hover {
    color: rgb(77, 76, 76);
    font-weight: 700;
  }
  
  /* Style the active link (or home/logo) */
  /* Use of pseudo-class enables text to be FC8B0A */
  .topnav a:active {
    color: #FC8B0A;
  }
  a.logo{
      background-color: #979592;
  }
  .mylink{
    background-color: #979592;
  }
  .lines{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 6px;
      width: 30px;
      background: #000000;
      padding: 2px;
      margin: 5px;
      border-radius: 5px;
      position: relative;
      bottom: 10px;
  }
  /* unnecessary since its not applied to any <p> */
  /* better colour contrast or colour scheme */
  a > .icon{
    background-color: #ffffff;
    display: flex;
    height: 30px;
  }
/* Don't Repeat Yourself! style declarations in .topnav since its a container*/
.home-btn{
    width: 40px;
    height: 44px;
    position: relative;
    bottom: 8px;
    right: 165px;
    border-radius: 7px 0 0 0;
    background: #222831;
    
}

.y-btn{
    background:red;
    font-size: 2rem;
    padding: 7px 14px;
    border-radius: 0px 10px 0 2px;
    position: relative;
    left: 165px;
    bottom: 53px;
}

.y-btn:hover{
    background-color: rgb(105, 5, 5);
}

.y-btn a{
    text-decoration: none;
    color: #f5ebeb;
}

@media screen  and (max-device-width :675px){
    .btn-login__1 {
        width: 80%;
    }

@media screen  and (max-device-width :375px){
    .y-btn{
        font-size: 1.5rem;
        padding: 7px 10px;
        margin-top: 0.8rem;
        transform: translateX(-1.4rem);
    }
    
    .home-btn{
        width: 30px;
        height: 35px;
        transform: translateX(1.4rem);
        position: relative;
        bottom: 9px;
    }
}
    
/* img in smaller screens is right at the top */
@media screen  and (max-device-width :375px){
    .image-header{
        position: relative;
        top: 5%;
    }
    .y-btn{
        transform: translateX(-1.8rem);
    }
    .home-btn{
        width: 30px;
        height: 35px;
        transform: translateX(2rem);
        position: relative;
        bottom: 9px;
    }
}}


.removed-img{
    visibility: hidden;
}
.flex-this{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin: 0 0.2rem 0 0rem;
}